<div class="modal fade login-modal" id="login-modal" tabindex="-1" aria-labelledby="login-modal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Logowanie</h4>
            </div>
            <div class="modal-body">
                <h2>OH HELLO THERE </h2>
            </div>
        </div>
    </div>
</div>