<div class="row use-font">
    <div class="col col-3 use-font">{{podpis}}</div>
    <div class="col col-1 use-font"><img src="\{{image}}"></div>
    <div class="col col-5 use-font">&nbsp;</div>
    <div class="col-col-1 use-font">Strona: {{str}}</div>
</div>